{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Header Example</title>
    <script src="{% static 'js/header.js' %}"></script>
</head>
<body>
    <header style="background-color: white; padding: 20px 30px; display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid #E6E6E6;">
        <div class="logo" style="font-size: 32px; font-weight: bold; color: #333;">
            ☺ Smile Log
        </div>
        <div class="header-right" style="display: flex; align-items: center; margin-left: auto;">
            <!-- 現在時刻を表示するエリアをログアウトボタンの左隣に配置 -->
            <div id="current-time" style="font-size: 18px; color: #333; margin-right: 20px;"></div>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">ログアウト</button>
            </form>
              
        </div>
    </header>
    
</body>

</html>

