{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ホームページ</title>
  <link rel="stylesheet" href="{% static 'log_app/css/home.css' %}">
  <script src="{% static 'js/header.js' %}"></script>
</head>

<body>
  <header><div id="header"></div></header>
  <div class="container-fluid" style="padding-left: 0; padding-right: 0;"> 
    <div class="row g-0"> 
        <div style="background-color: rgb(255, 238, 240); padding-left: 0; padding-right: 0;" class="col-2"></div>
        <div class="col-8" style="padding-left: 0; padding-right: 0;">

  <div class="container">
    {% if request.user.is_authenticated %}
      <p>{{ request.user }}さんこんにちは</p>
    {% endif %}
    <h1>Home</h1>
    <div class="circle-container">
      <div class="circle-item">
        <a href="{% url 'sharesheet'%}">
          <img class="circle_img" src="{% static 'images/caregiver.svg' %}">
        </a>
        <p><a href="{% url 'sharesheet'%}">日誌記入</a></p>
      </div>
      <div class="circle-item">
        <a href="{% url 'caregiver_students'%}">
          <img class="circle_img" src="{% static 'images/children.svg' %}">
        </a>
        <p><a href="{% url 'caregiver_students'%}">生徒情報</a></p>
      </div>
      <div class="circle-item">
        <a href="{% url 'caliculm'%}">
        <img class="circle_img" src="{% static 'images/calc.svg' %}">
        </a>
        <p><a href="{% url 'caliculm'%}">提案</a></p>
      </div>
    </div>

  </div>
</div>
<div style="background-color: rgb(255, 238, 240); padding-left: 0; padding-right: 0;" class="col-2"></div>
</div>
</div>
</body>

</html>
