<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ホームページ</title>
  <link rel="stylesheet" href="../../static/log_app/css/home.css">
</head>

<body>

  {% if request.user.is_authenticated %}
  <p>{{ request.user }}さんこんにちは</p>
  <p><a href="{% url 'accounts:logout' %}">ログアウト</a>
    {% else %}</p>
  <a href="{% url 'accounts:login' %}">ログイン</a>
  {% endif %}

  <div class="container">
    <h1>Home</h1>
    <div class="circle-container">
      <div class="circle-item">
        <a href="{% url 'sharesheet'%}" class="circle">📓</a>
        <p><a href="{% url 'sharesheet'%}">日誌記入</a></p>
      </div>
      <div class="circle-item">
        <a href="{% url 'caregiver_students'%}" class="circle">🧑‍🎓</a>
        <p><a href="{% url 'caregiver_students'%}">生徒情報</a></p>
      </div>
      <div class="circle-item">
        <a href="{% url 'caliculm'%}" class="circle">🖼️</a>
        <p><a href="{% url 'caliculm'%}">提案</a></p>
      </div>
    </div>

  </div>
</body>

</html>
