{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ホームページ</title>
  <link rel="stylesheet" href="{% static 'log_app/css/home.css' %}">
  <script src="{% static 'js/header.js' %}"></script>
</head>

<body>
  <header><div id="header"></div></header>

  <div class="container">
    {% if request.user.is_authenticated %}
            <h1>ようこそ、{{ request.user }}さん</h1>
        {% endif %}
        <div class="buttons">
            <div class="card">
                    <h2 style="color: #6200ff;">📝 日誌記入</h2>
                    <p>今日の活動を記録しましょう</p>
                <a href="{% url 'sharesheet' %}">
                    <button class="write-diary" style="background-color: #6200ff;">日誌を書く</button>
                </a>
            </div>
            <div class="card">
                    <h2 style="color: #00a513;">👤 生徒情報確認</h2>
                    <p>生徒の情報を確認できます</p>
                <a href="{% url 'caregiver_students' %}">
                    <button class="view-student-info" style="background-color: #00a513;">生徒情報を見る</button>
                </a>
            </div>
            <div class="card">
                    <h2 style="color: #d4d400;">💡 授業提案</h2>
                    <p>新しい授業のアイデアを共有しましょう</p>
                <a href="{% url 'caliculm' %}">
                    <button class="submit-idea" style="background-color: #d4d400;">アイデアを提案</button>
                </a>
            </div>
        </div>
    <footer>
        <p>© 2024 Smile Log. All rights reserved.</p>
        <a href="#">利用規約</a> | <a href="#">プライバシーポリシー</a> | <a href="#">お問い合わせ</a>
    </footer>
</body>
</html>