{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>日誌記録ページ</title>
    <link rel="stylesheet" href="{% static 'log_app/css/caliculm.css' %}">
    <script src="{% static 'js/header.js' %}"></script>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <header><div id="header"></div></header>
  <div class="container-fluid" style="padding-left: 0; padding-right: 0;"> 
    <div class="row g-0"> 
        <div style="background-color: rgb(255, 238, 240); padding-left: 0; padding-right: 0;" class="col-2"></div>
        <div class="col-8" style="padding-left: 0; padding-right: 0;">
    <div class="container">
        <h1>授業提案ページ</h1>
        <form method="POST" action="{% url 'check_caliculm' %}">
            {% csrf_token %}
            <label for="contact">授業の確認</label>
            <textarea class="textarea_content" readonly class="content">{{caliculum}}</textarea>
            <input type="hidden" name="sheet" value="{{ caliculum }}">
            <textarea id="message" name="message" rows="2" required style="width: 100%; font-size: large;"></textarea>
            <div style="text-align: center;">            
            <button  type="submit" class="Button-style" href="{% url  'sheet_complate'%}">送信</button>
            </div>
        </form>
        <a class="btn btn-primary" href="{% url 'caregiver_dashboard'%}">ホームに戻る</a>
    </div>
</div>
<div style="background-color: rgb(255, 238, 240); padding-left: 0; padding-right: 0;" class="col-2"></div>
</div>
</div>
</html>