<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ホームページ</title>
    <link rel="stylesheet" href="../../static/log_app/css/home.css">
</head>
<body>
    <header class="header">
        <h1 class="app-title">Smile Log</h1>
        <div class="auth-links">
            {% if request.user.is_authenticated %}
                <p>{{ request.user }}さんこんにちは</p>
                <a href="{% url 'logout' %}" class="button">ログアウト</a>
            {% else %}
                <a href="{% url 'login' %}" class="button">ログイン</a>
            {% endif %}
        </div>
    </header>

    <div class="container">
        <h2>Home</h2>
        <div class="circle-container">
            <div class="circle-item">
                <a href="{% url 'sharesheet'%}" class="circle">📓</a>
                <p><a href="{% url 'sharesheet'%}">日誌記入</a></p>
            </div>
            <div class="circle-item">
                <a href="{% url 'students'%}" class="circle">🧑‍🎓</a>
                <p><a href="{% url 'students'%}">生徒情報</a></p>
            </div>
            <div class="circle-item">
                <a href="{% url 'caliculm'%}" class="circle">🖼️</a>
                <p><a href="{% url 'caliculm'%}">提案</a></p>
            </div>
        </div>
    </div>
</body>
</html>
