{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'log_app/css/make_caliculm.css' %}">
</head>
<body>
  <div class="container">
    <h1>授業提案</h1>
    <form id="activityForm" method="POST" action="{% url 'check_caliculm' %}">
    {% csrf_token %}
      <label for="date">日付</label>
      <input type="date" id="date" name="date" required>
      <label for="objective">本日のねらい</label>
      <textarea id="objective" name="objective" rows="4" required></textarea>
      <div class="arrow">
        <button type="submit">送信</button>
      </div>
    </form>
    <a href="{% url 'home'%}">戻る</a>
</div>
</body>
</html>