{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>日誌記録ページ</title>
    <link rel="stylesheet" href="{% static 'log_app/css/make_sharesheet.css' %}">
</head>

<body>
    <div class="container">
        <h1>日誌記録ページ</h1>
        <form id="activityForm" method="POST" action="{% url 'check_sharesheet' %}">
            {% csrf_token %}
            <label for="activity">本日の活動内容</label>
            <textarea id="activity" name="activity" rows="4" required>{{activity}}</textarea>

            <label for="contact">本日の生徒の様子</label>
            <textarea id="student" name="student" rows="4" required>{{student}}</textarea>

            <div class="arrow">
                <button type="submit">送信</button>
            </div>
        </form>
        <a href="{% url 'caregiver_dashboard'%}">戻る</a>
    </div>

</html>
