{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'log_app/css/caliculm.css' %}">
  <script src="{% static 'js/header.js' %}"></script>
  <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>

<body>
  <header><div id="header"></div></header>
  <div class="container-fluid" style="padding-left: 0; padding-right: 0;"> 
    <div class="row g-0"> 
        <div style="background-color: rgb(255, 238, 240); padding-left: 0; padding-right: 0;" class="col-2"></div>
        <div class="col-8" style="padding-left: 0; padding-right: 0;">
  <div class="container">
    <h1>授業提案</h1>
    <form id="activityForm" method="POST" action="{% url 'check_caliculm' %}">
    {% csrf_token %}
      <label for="date">日付</label><br>
      <input class="date-input" type="date" id="date" name="date" required><br>
      <label for="objective">本日のねらい</label>
      <textarea class="textarea_content" id="objective" name="objective" rows="4" required></textarea>
      <div style="text-align: center;">
        <button type="submit" class="Button-style">送信</button>
      </div>
    </form>
    <a class="btn btn-primary" style="text-align: left;" href="{% url 'caregiver_dashboard'%}">ホームに戻る</a>
</div>
</div>
<div style="background-color: rgb(255, 238, 240); padding-left: 0; padding-right: 0;" class="col-2"></div>
</div>
</div>
<footer>
  <p>© 2024 Smile Log. All rights reserved.</p>
  <a href="#">利用規約</a> | <a href="#">プライバシーポリシー</a> | <a href="#">お問い合わせ</a>
</footer>
</body>

</html>
