{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../static/log_app/css/student.css">
  <script src="{% static 'js/header.js' %}"></script>
  <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>

<body>
  <header><div id="header"></div></header>
  <div class="container-fluid" style="padding-left: 0; padding-right: 0;"> 
    <div class="row g-0"> 
        <div style="background-color: rgb(255, 238, 240); padding-left: 0; padding-right: 0;" class="col-2"></div>
        <div class="col-8" style="padding-left: 0; padding-right: 0;">
  <ul>
    <li><strong>保育園:</strong> {{ student.kindergarten }}</li>
    <li><strong>生徒ID:</strong> {{ student.student_id }}</li>
    <li><strong>氏名:</strong> {{ student.name }}</li>
    <li><strong>担任:</strong> {{ student.caregiver }}</li>
    <li><strong>生年月日:</strong> {{ student.birth_date }}</li>
    <li><strong>アレルギー:</strong> {{ student.allergy_info }}</li>
    <li><strong>追記:</strong> {{ student.additional_info }}</li>
    {% if request.user.role == 'admin' %}
    <p><a href="{% url 'admin_dashboard' %}">戻る</a></p>
    {% elif request.user.role == 'caregiver' %}
    <p><a href="{% url 'caregiver_students' %}">戻る</a></p>
    {% endif %}
  </ul>
</div>
<div style="background-color: rgb(255, 238, 240); padding-left: 0; padding-right: 0;" class="col-2"></div>
</div>
</div>
</body>

</html>
