<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../static/log_app/css/student.css">
</head>
<body>
  <!-- <h1>Student: {{ student }}</h1> -->
  <h3>保育園:{{ student.kindergarten }}</h3>
  <h3>生徒ID:{{ student.student_id }}</h3>
  <h3>氏名:{{ student.name }}</h3>
  <h3>担任:{{ student.caregiver }}</h3>
  <h3>生年月日:{{ student.birth_date }}</h3>
  <h3>アレルギー:{{ student.allergy_info }}</h3>
  <h3>追記:{{ student.additional_info }}</h3>
  <p><a href="{% url 'students'%}">戻る</a></p>
</body>
</html>
