{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../static/log_app/css/list.css">
  <script src="{% static 'js/header.js' %}"></script>
  <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>

<body>
  <header><div id="header"></div></header>
  <div class="container-fluid" style="padding-left: 0; padding-right: 0;"> 
    <div class="row g-0"> 
        <div style="background-color: rgb(255, 238, 240); padding-left: 0; padding-right: 0;" class="col-2"></div>
        <div class="col-8" style="padding-left: 0; padding-right: 0;">
  <h1>StudentList</h1>
  {% if request.user.role == 'admin' %}
  <a href="{% url 'create-student' %}">生徒の追加</a>
  {% endif %}

  <h1>生徒情報検索</h1>
  <form id="search-form" method="GET" action="">
    <input type="text" name="query" placeholder="名前で検索" value="{{ request.GET.query }}">
    <button type="submit">検索</button>
  </form>

  <div id="search-results">
    <!-- 検索結果がここに表示されます -->
  </div>
  <table>
    <tr>
      <th>園ID</th>
      <th>生徒ID</th>
      <th>氏名</th>
      <th>担任</th>
      <th>生年月日</th>
      <th>アレルギー</th>
      <th>追記</th>
      <th></th>
      {% if request.user.role == 'admin' %}
      <th></th>
      <th></th>
      {% endif %}

    </tr>
    {% for student in students %}
    <tr>
      <td>{{ student.kindergarten.id }}</td>
      <td>{{ student.id }}</td>
      <td>{{ student.name }}</td>
      <td>{{ student.caregiver }}</td>
      <td>{{ student.birth_date }}</td>
      <td>{{ student.allergy_info }}</td>
      <td>{{ student.additional_info }}</td>
      <td><a href="{% url 'student' student.pk %}">確認</a></td>
      {% if request.user.role == 'admin' %}
      <td><a href="{% url 'edit-student' student.pk %}">編集</a></td>
      <td><a href="{% url 'delete-student' student.pk %}">削除</a></td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
  {% if request.user.role == 'admin' %}
  <p><a href="{% url 'admin_dashboard' %}">戻る</a></p>
  {% elif request.user.role == 'caregiver' %}
  <p><a href="{% url 'caregiver_dashboard' %}">戻る</a></p>
  {% endif %}
</div>
<div style="background-color: rgb(255, 238, 240); padding-left: 0; padding-right: 0;" class="col-2"></div>
</div>
</div>
</body>

</html>
