{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ホームページ</title>
    <link rel="stylesheet" href="{% static 'kyoyu_app/css/home.css' %}">
</head>
<body>
    <div class="container">
        <h1>Home</h1>
        <div class="circle-container">
            <div class="circle-item">
                <div class="circle"></div>
            </div>
            <div class="circle-item">
                <div class="circle"></div>
                <p>日誌記入</p>
            </div>
            <div class="circle-item">
                <div class="circle"></div>
                <p>生徒情報</p>
            </div>
            <div class="circle-item">
                <div class="circle"></div>
                <p>授業提案</p>
            </div>
            <div class="circle-item">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</body>
</html>