/* make_caliculm.css */
/* コンテナのスタイル */
.container {
    max-width: 600px;
    padding: 20px;
    border-radius: 8px;
    background-color: #F9FFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* タイトルのスタイル */
.container h1 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}
/* ラベルのスタイル */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

.textarea_content {
    width: 100%;
    padding: 10px;
    margin-bottom: 25px; /* 間隔を広げるためにmargin-bottomを調整 */
    border: 3px solid #b8b8b8;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #fff;
    color: #333;
    height: 300px;
    resize: none;
}
/* 矢印リンクのスタイル */
.arrow {
    text-align: right; /* 矢印を右寄せ */
    margin-bottom: 20px; /* 戻るボタンとの間にスペースを追加 */
}
.arrow a {
    display: inline-block;
    font-size: 24px;
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s ease;
    padding: 10px;
}
.arrow a:hover {
    color: #0056B3;
}
/* 戻るリンクのスタイル */
p {
    text-align: right; /* 戻るリンクを右寄せ */
    margin-right: 30px; /* 戻るボタンを少し左にずらす */
}
p a {
    font-size: 16px;
    color: #007BFF;
    text-decoration: none;
}
p a:hover {
    color: #0056B3;
}
/* フォーム全体のスタイル */
form {
    margin-top: 20px;
}
/* Button-style links */
a[href*="create-student"],
a[href*="edit-student"],
a[href*="delete-student"],
a[href*="home"] {
    display: inline-block;
    padding: 10px 15px;
    margin: 10px;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    text-align: center;
}
a[href*="create-student"]:hover,
a[href*="edit-student"]:hover,
a[href*="delete-student"]:hover,
a[href*="home"]:hover {
    background-color: #0056B3;
}
.date-input {
    appearance: none; /* ブラウザデフォルトのスタイルを無効化 */
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    background-color: white;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
    width: 50%;
}

/* ホバー時の効果 */
.date-input:hover {
    background-color: #e0e0e0;
}

/* フォーカス時の効果 */
.date-input:focus {
    outline: none;
    background-color: #fff;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

.Button-style {
    font-family: "Modak", cursive;
    font-size: 20px;
    display: inline-block;
    padding: 0.2em 1em 0.1em;
    color: #ff0066;
    border: solid 2px #ff0066;
    border-radius: 5px;
    background-color: #fff0f8;
    cursor: pointer;
  }