.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* タイトルのスタイル */
.container h1 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}
/* ラベルのスタイル */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}
.content {
    resize: vertical;
    height: 300px;
    width: 100%;
    padding: 10px;
    margin-bottom: 25px; /* 間隔を広げるためにmargin-bottomを調整 */
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #fff;
    color: #333;
}
.check_button{
    text-align: center;
}