/* make_caliculm.css */
/* コンテナのスタイル */
.container {
    max-width: 600px;
    border-radius: 8px;
    background-color: #F9FFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* タイトルのスタイル */
.container h1 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}
/* ラベルのスタイル */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

.textarea_content {
    width: 100%;
    margin-bottom: 25px; /* 間隔を広げるためにmargin-bottomを調整 */
    border: 3px solid #b8b8b8;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #fff;
    color: #333;
    height: 200px;
    resize: none;
}
.submit_button{
    text-align: center;
}
.Button-style {
    font-family: "Modak", cursive;
    font-size: 20px;
    display: inline-block;
    padding: 0.2em 1em 0.1em;
    color: #ff0066;
    border: solid 2px #ff0066;
    border-radius: 5px;
    background-color: #fff0f8;
    cursor: pointer;
  }